<!DOCTYPE html>
<html>
  <head>
    <title>Dominion Tournament</title>
    <%= favicon %>
    <%= stylesheet 'bootstrap' %>
    <%= stylesheet 'application' %>
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <div class="container">
      <%= error_messages %>
      <%= link_to('Back', back_path) %>
      <h1><%= title %></h1>
      <%= yield %>
    </div>
  </body>
</html>
